/* modules/registration-form/form.css */

#registration-container {
    max-width: 500px; /* Increased width */
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

#registration-container .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#registration-container h2 {
    text-align: center;
    color: #333;
    margin: 0;
    flex-grow: 1;
}

#registration-container #country-select {
    width: 70px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    margin-left: 0px; /* Adjust spacing as needed */
}

.validation-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: none;
}

#registration-container label {
    margin-top: 5px;
    display: block;
    font-weight: bold;
    color: #555;
}


#registration-container button {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 5px;
}

#registration-container input[type="text"],
#registration-container input[type="email"],
#registration-container input[type="password"],
#registration-container input[type="tel"] {
    width: 100%;
    padding: 12px;
    margin: 5px 0 20px 0;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; /* FIXES ALIGNMENT ISSUES */
    transition: border-color 0.3s;
}

#registration-container input[type="text"]:focus,
#registration-container input[type="email"]:focus,
#registration-container input[type="tel"]:focus {
    border-color: #007bff; /* Blue focus for better visibility */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Glow effect on focus */
}

#registration-container input[type="submit"] {
    width: 100%;
    background-color: #28a745;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; /* Smooth transitions */
}

#registration-container input[type="submit"]:hover {
    background-color: #218838; /* Darker green on hover */
    transform: translateY(-2px); /* Lift effect on hover */
}

#registration-container input[type="submit"]:active {
    transform: translateY(1px); /* Push down effect on click */
}

/* Styling for required fields */
#registration-container input[type="text"]:required:invalid,
#registration-container input[type="email"]:required:invalid,
#registration-container input[type="tel"]:required:invalid {
    border-color: red; /* Red border for invalid fields */
}

#registration-container select {
    width: 100%;
    padding: 12px;
    margin: 5px 0 20px 0;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}
