/* General button styles */
.button {
    margin: 20px;
    font-size: 16px;
    cursor: pointer;
    color: #612f0c; /* Brown */
    text-decoration: none;
    font-weight: 600;
    font-family: 'Arial', sans-serif; /* Change to Arial as Univers for Fiserv is not always available */
    border: none;
    background-color: transparent;
}

.button::before {
    margin-left: auto;
}

.button::after, .button::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #6699CC; /* Fiserv Steel Blue */
    display: block;
    transition: 0.5s;
}

.button:hover::after, .button:hover::before {
    width: 100%;
}

.toolbar {
    width: 100%;
    padding: 10px;
    background-color: #f1f1f1;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 2000;
    user-select: none;
    gap: 20px;
}

.toolbar input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.window {
    position: absolute;
    width: 400px;
    height: 300px;
    margin-top: 50px; /* Avoid toolbar */
    background: rgba(0, 0, 255, 0.3); /* Original background */
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Regular shadow */
    border-radius: 10px;
    overflow: hidden;

    /* Adding shadow to give depth effect */
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5), 0 0 5px rgba(0, 0, 0, 0.4);

    /* Existing gradient and glares */
    background-image:
        radial-gradient(circle at top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 50%), /* Semi-circular glare */
        linear-gradient(30deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.2)), /* Whispy line glare */
        radial-gradient(circle at 25% 20%, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 1%), /* Small glaring upper-left */
        radial-gradient(circle at 25% 20%, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 1%), /* Additional layer for small glaring upper-left */
        radial-gradient(circle at 85% 25%, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 1%), /* Small glaring upper-right */
        radial-gradient(circle at 85% 25%, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 1%); /* Additional layer for small glaring upper-right */
    
}

.window-header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    /* background-color: #612f0c; Brown with 70% opacity */
    color: #000;
    background: rgba(255, 255, 255, 0.3); /* Translucent white background just for the draggable header */
    backdrop-filter: blur(10px); /* Blur effect for the draggable window header */
    align-items: top;
    padding: 5px;
    cursor: move;
    user-select: none;
    height: 35px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.window-controls {
    display: flex;
    margin-right: 10px;
}

.window-content {
    color: #000;
    border-top: none; /* Remove top border to avoid overlap with header */
    height: calc(100% - 50px); /* Adjust height to fit within window */
    background: rgba(255, 255, 255, 0.3); /* Translucent white background */
    backdrop-filter: blur(10px); /* Blur effect for the window content */
    overflow: auto;
}

.hidden {
    display: none;
}

/* Resizer styles */
.resizer {
    position: absolute;
    z-index: 100;
    width: 20px;
    height: 20px;
    background: linear-gradient(45deg, #612f0c, #A0522D 25%, #612f0c 25%, #612f0c 50%, #A0522D 50%, #612f0c 75%, #8a4f25 75%, #612f0c);
    background-size: 40px 40px; /* Ensure gradient does not stretch */
}

.resizer.top-left {
    top: 0px;
    left: 0px;
    cursor: nwse-resize;
}

.resizer.top-right {
    top: 0px;
    right: 0px;
    cursor: nesw-resize;
}

.resizer.bottom-left {
    bottom: 0px;
    left: 0px;
    cursor: nesw-resize;
}

.resizer.bottom-right {
    bottom: 0px;
    right: 0px;
    cursor: nwse-resize;
}

.border-resizer {
    position: absolute;
}

.border-resizer.horizontal {
    height: 20px;
    left: 0;
    right: 0;
    background: linear-gradient(45deg, #612f0c, #A0522D 25%, #612f0c 25%, #612f0c 50%, #A0522D 50%, #612f0c 75%, #8a4f25 75%, #612f0c);
    background-size: 30px 30px;  /* Ensure gradient does not stretch */
}

.border-resizer.vertical {
    width: 20px;
    top: 0;
    bottom: 0;
    background: linear-gradient(45deg, #612f0c, #A0522D 25%, #612f0c 25%, #612f0c 50%, #A0522D 50%, #612f0c 75%, #8a4f25 75%, #612f0c);
    background-size: 30px 30px;  /* Ensure gradient does not stretch */
}

.border-resizer.top {
    top: 0px;
    cursor: ns-resize;
    background: linear-gradient(45deg, #612f0c, #A0522D 25%, #612f0c 25%, #612f0c 50%, #A0522D 50%, #612f0c 75%, #8a4f25 75%, #612f0c);
    background-size: 30px 30px;  /* Ensure gradient does not stretch */
}

.border-resizer.right {
    right: 0px;
    cursor: ew-resize;
    background: linear-gradient(45deg, #612f0c, #A0522D 25%, #612f0c 25%, #612f0c 50%, #A0522D 50%, #612f0c 75%, #8a4f25 75%, #612f0c);
    background-size: 30px 30px;  /* Ensure gradient does not stretch */
}

.border-resizer.bottom {
    bottom: 0px;
    cursor: ns-resize;
    background: linear-gradient(45deg, #612f0c, #A0522D 25%, #612f0c 25%, #612f0c 50%, #A0522D 50%, #612f0c 75%, #8a4f25 75%, #612f0c);
    background-size: 30px 30px;  /* Ensure gradient does not stretch */
}

.border-resizer.left {
    left: 0px;
    cursor: ew-resize;
    background: linear-gradient(45deg, #612f0c, #A0522D 25%, #612f0c 25%, #612f0c 50%, #A0522D 50%, #612f0c 75%, #8a4f25 75%, #612f0c);
    background-size: 30px 30px;  /* Ensure gradient does not stretch */
}

/* Animation for window hover (optional) */
.window:hover {
    animation: window-hover 1s ease-in-out 1;
}

/* // visually hidden from the user, but still available for screen readers */
.visually-hidden {
  position: absolute;
  white-space: nowrap; /* Prevent wrapping */
 
  width: 1px; /* Set it to the smallest possible size */
  height: 1px;  /* (some screen readers ignore elements with zero height and width) */
 
  overflow: hidden; /* Hide overflowing content after resizing */
  border: 0; /* Reset any property that may change the elements size */
  padding: 0;
 
  /* Clipping defines what part of an element should be displayed. */
  clip: rect(0 0 0 0); /* Deprecated clip property for older browsers */
  clip-path: inset(
    50%
  ); /* clip-path for newer browsers. inset(50%) defines an inset rectangle that makes the content disappear.  */
 
  margin: -1px; /* It seems like at the moment nobody is quite sure why margin: -1px is there. On top of that it seems to cause
    some issues in some cases. */
}

body, div, iframe {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.window-content * {
    -webkit-user-select: text; /* Allow in iframe content */
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
